<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/static/lib/html5shiv.js"></script>
<script type="text/javascript" src="/static/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>管理员管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员中心 <span class="c-gray en">&gt;</span> 管理员管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="info" name="customerName">
		<button type="submit" class="btn btn-success radius" id="button1" onclick="findAll()" ><i class="Hui-iconfont">&#xe665;</i> 搜管理员</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="member_add('添加管理员','member-add.html','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="80">ID</th>
				<th width="100">管理员名</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th width="90">描述</th>
				<th width="130">加入时间</th>
				<th width="70">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody id="tableInfo" >

		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
    findAll();
});

function findAll() {
    var datemin = $("#datemin").val();
    var datemax = $("#datemax").val();
    var info = $("#info").val();

    var table = $("#tableInfo");
    var html = [];
    $.ajax({
        type: 'POST',
        url: '/customer/findCustomerInfo',
        dataType: 'json',
        data:{
            "dateMin":datemin,
            "dateMax":datemax,
            "customerName":info
        },
        success: function(data){
            for (var i = 0;i < data.length;i++){
                var customer = data[i];
                html.push("<tr class=\"text-c\">");
                html.push("<td>"+customer.customerId+"</td>");
                html.push("<td>"+customer.customerName+"</td>");
                html.push("<td>"+customer.mobileNo+"</td>");
                html.push("<td>"+customer.email+"</td>");
                html.push("<td>"+customer.description+"</td>");
                html.push("<td>"+crtTimeFtt(customer.updateTime)+"</td>");
                if (customer.status == "01"){
                    html.push("<td>已启用</td>");
                    html.push("<td>" +
                        "<a style=\"text-decoration:none\" onClick=\"member_stop(this,"+ "'"+ customer.customerId +"'" +")\" href=\"javascript:;\" title=\"停用\"><i class=\"Hui-iconfont\">&#xe631;</i></a>" +
                        "<a title=\"编辑\" href=\"javascript:;\" onclick=\"member_edit('编辑','member-add.html',\'"+customer.customerId+"\','','510')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6df;</i></a>" +
                        "<a title=\"删除\" href=\"javascript:;\" onclick=\"member_del(this,\'" + customer.customerId + "\')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a>"+
                        "</td>");
                }else if (customer.status == "02"){
                    html.push("<td>已停用</td>");
                    html.push("<td>" +
                        "<a style=\"text-decoration:none\" onClick=\"member_start(this," + "'"+customer.customerId+"'" + ")\" href=\"javascript:;\" title=\"启用\"><i class=\"Hui-iconfont\">&#xe6e1;</i></a>" +
                        "<a title=\"编辑\" href=\"javascript:;\" onclick=\"member_edit('编辑','member-add.html',\'"+customer.customerId+"\','','510')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6df;</i></a>" +
                        "<a title=\"删除\" href=\"javascript:;\" onclick=\"member_del(this,\'" + customer.customerId + "\')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a>"+
                        "</td>");
                }
                html.push("</tr>");
            }
            table.html("");
            table.append(html.join(""));
        },
        error:function(data) {
            console.log(data.msg);
        },
    });
}

/*时间格式转换*/
function crtTimeFtt(val) {
    if (val != null) {
        var date = new Date(val);
        return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()+' '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();
    }else{
        return "";
    }
}
/*管理员-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			data: {"id":id},
			url: '/customer/memberStop',
			dataType: 'json',
			success: function(data){
			    if (data > 0){
                    layer.msg('已停用!',{icon: 5,time:1000});
                    findAll();
				}else{
                    layer.msg('错误!',{icon: 5,time:1000});
				}
			},
		});		
	});
}

/*管理员-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			data:{"id":id},
			url: '/customer/memberStart',
			dataType: 'json',
			success: function(data){
			    if (data > 0){
                    layer.msg('已启用!',{icon: 6,time:1000});
                    findAll();
				}else{
					layer.msg('错误!',{icon: 5,time:1000});
				}
			},
		});
	});
}
/*管理员-删除*/
function member_del(obj,id){
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'POST',
            url: '/customer/memberDelete',
            data:{"id":id},
            dataType: 'json',
            success: function(data){
                layer.msg('已删除!',{icon:1,time:1000});
                findAll();
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}
/*管理员-添加*/
function member_add(title,url,w,h){
    layer_show(title,url,w,h);
}
/*管理员-编辑*/
function member_edit(title,url,id,w,h){
    layer_show1(title,url,id,w,h);
}

/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show1(title,url,id,w,h);
}

</script> 
</body>
</html>