<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dlxf.cn.springbootmybatis.mapper.TmGoodsOrderRelationMapper">
  <resultMap id="BaseResultMap" type="com.company.dlxf.cn.springbootmybatis.model.TmGoodsOrderRelation">
    <id column="RECORD_ID" jdbcType="VARCHAR" property="recordId" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
  </resultMap>
  <sql id="Base_Column_List">
    RECORD_ID, ORDER_ID, GOODS_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tm_goods_order_relation
    where RECORD_ID = #{recordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tm_goods_order_relation
    where RECORD_ID = #{recordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.company.dlxf.cn.springbootmybatis.model.TmGoodsOrderRelation">
    insert into tm_goods_order_relation (RECORD_ID, ORDER_ID, GOODS_ID
      )
    values (#{recordId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.dlxf.cn.springbootmybatis.model.TmGoodsOrderRelation">
    insert into tm_goods_order_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        RECORD_ID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="goodsId != null">
        GOODS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.dlxf.cn.springbootmybatis.model.TmGoodsOrderRelation">
    update tm_goods_order_relation
    <set>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_ID = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.dlxf.cn.springbootmybatis.model.TmGoodsOrderRelation">
    update tm_goods_order_relation
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      GOODS_ID = #{goodsId,jdbcType=VARCHAR}
    where RECORD_ID = #{recordId,jdbcType=VARCHAR}
  </update>
</mapper>