<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dlxf.cn.springbootmybatis.mapper.TmLogConfigMapper">
  <resultMap id="BaseResultMap" type="com.company.dlxf.cn.springbootmybatis.model.TmLogConfig">
    <id column="TRANS_ID" jdbcType="VARCHAR" property="transId" />
    <result column="LOG_NAME" jdbcType="VARCHAR" property="logName" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    TRANS_ID, LOG_NAME, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tm_log_config
    where TRANS_ID = #{transId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tm_log_config
    where TRANS_ID = #{transId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.company.dlxf.cn.springbootmybatis.model.TmLogConfig">
    insert into tm_log_config (TRANS_ID, LOG_NAME, STATUS
      )
    values (#{transId,jdbcType=VARCHAR}, #{logName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.dlxf.cn.springbootmybatis.model.TmLogConfig">
    insert into tm_log_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        TRANS_ID,
      </if>
      <if test="logName != null">
        LOG_NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        #{transId,jdbcType=VARCHAR},
      </if>
      <if test="logName != null">
        #{logName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.dlxf.cn.springbootmybatis.model.TmLogConfig">
    update tm_log_config
    <set>
      <if test="logName != null">
        LOG_NAME = #{logName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where TRANS_ID = #{transId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.dlxf.cn.springbootmybatis.model.TmLogConfig">
    update tm_log_config
    set LOG_NAME = #{logName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR}
    where TRANS_ID = #{transId,jdbcType=VARCHAR}
  </update>
</mapper>